SQLAlchemy==2.0.37
asyncpg==0.30.0
pydantic_core==2.27.2
pydantic==2.10.4
aiohttp==3.11.11
typing_extensions==4.12.2
anyio==4.6.2.post1
alembic==1.14.1
black==25.1.0
fastapi==0.115.6
pydantic-settings==2.8.1
uvicorn==0.32.1
pytest-asyncio==0.20.3
email_validator==2.2.0
